*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior:smooth;
}


body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/* ------------------------------------------------------------------------------------*/
/*HEADER*/


li {
    list-style: none;
}

/*a href*/
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

a:hover { /*color change when hover with mouse*/
    color: rgb(138, 133, 133);
}

header {
    position: relative;
    padding: 0 2rem;
}



/*--------------------NAVIGATION BAR----------------------------*/
.navbar {
    width: 100%;
    height: 70px; /*previously 53*/
    /*max-width: 1200px;*/
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.15); /* Semi-transparent black background */
    padding-left: 10%;
    padding-right: 10%;
    

    /*make navigation bar permanent*/
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 1000; 
}


/*Navigation Bar*/
.logo_container{
    display: flex;
    align-items: center;    
}

.logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.logo_img{
    width: 50px;
    height: auto;
    position: relative;
    margin-top: 30;
    margin-right: 8;
}

/*Center links*/
.navbar .links {
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Dropdown Menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    height: 0px;
    right: 3rem;
    top: 60px;
    width: 110px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275); /*2second transition based on cubix bezier... when activated*/
}

.dropdown_menu.open {
    height: 120px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: left; /*center*/
}


/* ------------------------------------------------------------------------------------*/
/*responsive navagation bar . */


@media (max-width: 800px) {
    .navbar .links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .logo_img{
        margin-right: 0;
        /*display: none;*/
    }


    }    
    .logo a{
        font-size: 1rem;
    }
 
    .navbar {
        padding-left: 10%;
        padding-right: 20%;
    }    

    
}

/*if on phone: make the window smaller*/
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}



/* ------------------------------------------------------------------------------------*/

/*Video*/
#home_video {
    position:absolute;
    z-index: 0; /*background*/
    height: calc(80vh);
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 100%;
}





/* --------------------------------------HOME----------------------------------------------*/
section#home {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
    background: linear-gradient(to bottom, #000000 0%, #12182b 100%);
}

.content{
    z-index: 1;
}

section#home h1{
    font-size: 2.5rem;
    color:#ffffff;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}


@media (max-width: 576px) {
    section#home h1{
        font-size: 1.5rem;
    }
}


/* --------------------------------------ABOUT----------------------------------------------*/
section#about {
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    color:#000000;
    background: linear-gradient(to bottom, #ffffff 0%, #c7d3dd 100%);
}

section#about .main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#about h1 {
    font-size: 3rem;
    margin-bottom: 0rem;
    text-shadow: 2px 2px 5px rgb(196, 196, 207);
}

section#about h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section#about img {
    height: auto;
    width: 420px;
    max-width: 40%;
}


section#about .text {
    width: 600px;
    text-align: justify;
    padding: 5%;
}


/*----------------------ABOUT RESPONSIVE DESIGN------------------------*/
@media (max-width: 576px) {
    
    section#about{
        height: auto
    }

    section#about .main {
        flex-direction: column;
    }

    section#about h1 {
        font-size: 2rem; 
    }

    section#about h2 {
        font-size: 1.2rem;
    }

    section#about .text {
        width: 100%; /* Use the full width for the text */
        padding: 3%; /* Adjust padding */
        font-size: 1rem; /* Adjust the font size of the text */
    }

    section#about img {
        width: 100%; /* Adjust the image width to be fully responsive */
        height: auto; /* Maintain aspect ratio */
        margin-bottom: 1rem; /* Add some space below the image */
    }
}





/* --------------------------------------WORK----------------------------------------------*/



section#work {
    background: linear-gradient(to bottom, #06080e 0%, #12182b 100%);
    
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section#work .heading h1 {
    color:#fff;
    margin-top: 3rem;
    font-size: 2rem;

}



section#work .box_container .box img {
    width:  100px;
    height: 100px;
    object-fit: cover;
}

section#work .box_container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}


section#work .box_container .box { 
    padding: 5rem;
    text-align: center;
    border:var(--border);
}


section#work .box_container .box img { 
    height: 10rem;
}

section#work .box_container .box h3 {
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
}

section#work .box_container .box .price {
    color:#fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}

section#work .box_container .box .price span {
    color:#fff;
    font-size: 1.5rem;
    text-decoration: line-through;
}



/*--------------hover/Interactive------------*/

section#work .box_container .box:hover{
    background:#fff;
}

section#work .box_container .box:hover > *{
    color:var(--black);
}




/*----------------------WORK RESPONSIVE DESIGN------------------------*/
/*

@media (max-width: 800px) {
    
    section#work .detail_container .half_link a,
    section#work .detail_container .full_link a,
    section#work .project p{
        opacity: 1;
        font-size:15px;
    }
    
    section#work .color_container, 
    section#work .detail_container,
    section#work .project{
        width: 30rem;

    }

    section#work .color_container, 
    section#work .detail_container{
        height: 9rem;
    }

    section#work .project{
        height: 100%;
        width: 100%;
    }

    section#work .detail_container img{
        width: 100%;
        height: 70%;
        line-height: 0px;
        object-fit: cover;
        object-position: top;
        overflow: hidden;
    }

    section#work .full_link p,
    section#work .half_link p {
        margin-top: -55px;
    }

    

}





@media (max-width: 562px) {   
    section#work .detail_container .half_link a,
    section#work .detail_container .full_link a,
    section#work .project p{
        font-size:13px;
    }
    
    section#work .color_container, 
    section#work .detail_container,
    section#work .project{
        width: 25rem;
    }

    section#work .color_container, 
    section#work .detail_container{
        height: 8rem;
    }
}


@media (max-width: 484px) {   
    section#work .color_container, 
    section#work .detail_container,
    section#work .project{
        width: 21rem;
    }
}


@media (max-width: 448px) {   
    section#work .color_container, 
    section#work .detail_container,
    section#work .project{
        width: 16rem;
    }
}


*/

/* --------------------------------------CONTACT----------------------------------------------*/
section#contact {
    min-height: calc(93vh); /*smaller screen for copyright*/
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff 0%, #c7d3dd 100%);
    padding: 40px 15%;
}


section#contact .contact_form {
    max-width: 1130px;
    color:#fff;
    padding: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

section#contact h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgb(10, 10, 10);
}

section#contact p {
    width: 90%;
    margin-bottom: 2.5rem;
    color: #fff;
}

section#contact .contact_img img{
    height: auto;
    width: 330px;
    border-radius: 50px;
    margin-top: 1rem;
}


/* Form elements */
section#contact form input,
section#contact form textarea {
    margin-bottom: 0.4rem;
    display: block;
    width: 367px;
    font-size: 1.1rem;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

section#contact form input {
    height: 4%;
}

section#contact form .submit_btn {
    margin-bottom: 0.4rem;
    height: 5%;
    width: 150px;
}

section#contact form .submit_btn:hover {
    border: 2px solid #12640b;
    transform: scale(1.01);
}


/*TEMPORARY SECTION FOR UNDER CONSTRUCTION*/

/*section#contact .header {
    position: relative;*/

section#contact .overlay-text {
    position: absolute;

    transform: rotate(-10deg);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px red;
    font-size: 4rem;
    
    white-space: nowrap; /* Prevent text wrapping */
    user-select: none; /* Prevent text selection */
}

/*----------------------CONTACT RESPONSIVE DESIGN------------------------*/

@media (max-width: 800px) {
    section#contact {
        flex-direction: column; 
        text-align: center;
        height: auto;
        padding: 4rem 0; 
    }

    section#contact .contact_form {
        width: 100%;
        max-width: 400px;
        order:2;
        margin-top: 10px;
    }

    section#contact .contact_img {
        width: 100%;
        max-width: 350px;
        margin: 0 auto; 
    }


    section#contact .contact_img img{
        border-radius: 100px;
        width: 50%;
        max-width: 700px; 
    }

    section#contact .contact_form p {
        width: 80%;
        margin: 0 auto; 
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    section#contact form input,
    section#contact form textarea {
        width: 100%; 
        margin-bottom: 0.4rem;
        font-size: 1rem;
    }

    section#contact form input {
        height: 5%;
    }

    section#contact form .submit_btn {
        width: 100%;
        font-size: 1.1rem;
        height: 8%;
    }

    /*temporary!!!!! UNDER CONSTRUCTION*/
    section#contact .overlay-text {
        font-size: 3rem;
    }
}

    /*temporary!!!!! UNDER CONSTRUCTION*/
@media (max-width: 448px) {
    section#contact .overlay-text {
        font-size: 2rem;
    }
}
@media (max-width: 284px) {
    section#contact .overlay-text {
        font-size: 1rem;
    }
}
/* ------------------------------------------------------------------------------------*/



/*Footer*/
footer {
    padding: 10px;
    color:#fff;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom, #0d1b2a 0%, #1a2c3a 100%);
}

/*footer .logo_img_foot {
    vertical-align: middle;
    width: 20px;
    height: auto;
}*/
